@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

*{
  -webkit-tap-highlight-color: transparent;
}
input, button, span, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;

  color: #4C5062;
  background-color: #FAF8F1;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}

textarea {
  width: 50%;
  padding: 10px 5%;
  line-height: 1.4em;
  background: #fff;
  border: none;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}


.App > * {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  height: 100vh;
}

@media screen and (min-width: 860px) {

}

p {
  display: block;

  margin: 10px;

  font-size: 1.2rem;
  font-weight: 300;
}

input:focus {
  outline: none;
}
